#app {
  font-family: Verdana;
  background-color: white;
  text-align: center;
  padding: 20px 40px;
}

.title {
  font-size: 50px;
  color: white;
  background-color: cornflowerblue;
  padding: 25px;
}

#begin-link {
  margin-top: 50px;
  font-size: 50px;
}

#begin-link > a {
    color: cornflowerblue;
    text-decoration: none;
}

#assessment {
  width: inherit;
  margin: 0;
}

.current-question {
  font-size: 30px;
}

.btn {
  width: inherit;
  margin: 50px 0;
  padding: 50px 0;
  border: 1px solid cornflowerblue;
  font-size: 30px
}

.btn.active {
  background-color: cornflowerblue;
}

#back-button {
  background-color: white;
  font-size: 30px;
  padding: 10px;
}

#question-options {
  width: inherit;
  margin-top: 30px;
}

#question-slide {
  width: inherit;
  margin: 30px 0;
}

.therapist-card {
  width: 70%;
  margin: auto;
  padding: 10px;
  border: 1px solid black;
}

.therapist-info {
  float: right;
  font-size: 25px;
}

.start-over {
  margin-top: 100px ;
  font-size: 30px
}

#score {
  margin: 50px 0;
}

@media (min-device-width: 768px) {
  #app {
    width: 600px;
    margin: auto;
    margin-bottom: 100px;
  }

  #begin-link {
    font-size: 30px;
  }
  
  #question-slide {
    margin: 15px 0;
  }
  
  .btn {
    margin: 15px 0;
    padding: 15px 0;
    border: 1px solid cornflowerblue;
    font-size: 15px
  }
  .therapist-info {
    font-size: 15px;
  }

  #back-button {
    font-size: 15px;
    padding: 10px;
  }
}